
.imgCarrito{
    width: 50px;
    
}
.cartContainer{
    margin-right: 40px;
    text-decoration: none;
    
}
.cantidad{
    font-size: 25px;
    height: 25px;
    width: 25px;
    margin-left: 15px;

}
