header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    

}

li{
    display: inline-block;
    margin: 15px;
    cursor: pointer;
}
.imgLogo{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}